@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.btn-none {
    padding: 0;
    border: none;
    background: none;
}

.comment {
    animation-name: hide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.dropdown-item:hover {
    cursor: pointer;
}

.nav-link:hover {
    cursor: pointer;
}

body {
    width: 100vw;
}

i:hover {
    cursor: pointer;
}

pre {
    font-size: 16px;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
}